extends navigation

block mainContent
    h1 #{quote.Name}
    p Welcome to Redling for CPQ
    p #{quote.Name}
    p #{quote.Account_Name__c}
    p #{quote.Opportunity_Name__c}
    p #{quote.Quote_Owner__c}
    p #{quote.SBQQ__PaymentTerms__c}
    p #{quote.SBQQ__Status__c}
    p #{quote.SBQQ__NetAmount__c}
    br
    h1 #{quote.Name} Document
        button(class="ms-Button ms-Button--primary docLink" id="saveDocument")
            span(class="ms-Button-label") Save