extends navigation

block mainContent
    h1 Quote Term List
    p Quote Term
        table
            tr
                th Name
                th Status
                th Category
                th Document Type
                th Body
            for term in terms
                tr
                    td
                        a(href="/quotes/viewQuote#{term.Id}") #{term.Name}
                    td #{term.SBQQ__Status__c}
                    td #{term.Category__c}
                    td #{term.Document_Type__c}
                    td(width="500px;") !{term.SBQQ__Body__c}